extends ../layouts/default
block css
  link(href="styles/post.css", rel="stylesheet")
block js
  script(src="js/post.js", type="text/javascript")
block body
  script.
    var content = !{JSON.stringify(myPost.content)}
  #post-page.container-fluid:.row
    #post-left-panel.col-xs-2
    #post-center-panel.col-xs-8
      #post-content
                 
    #post-right-panel.col-xs-2


//- #{data.post._.publishedDate.format('MMMM Do, YYYY')} 