include ../mixins/flash-messages

doctype html
html(lang='en')
  head
    title MoocsExpert
    meta(charset='utf-8')
    //- meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel='stylesheet', href="styles/layout.css")
    block css
    block prioritizedJs
    
  body
    script.
      var user = !{JSON.stringify(user)} || null;
    block bodytop
    nav#header.navbar.navbar-default.navbar-fixed-top(display="block")
      .container-fluid
        .row
          .col-xs-6
            .navbar-header
              a.navbar-brand(href='/') MoocsExpert.com
            form.navbar-form.navbar-left(role="search", action="/search", method="get")
              .form-group
                input.form-control(type="text", placeholder="Search", name="query")
              button.btn.btn-default(type="submit")
                i.fa.fa-search
          .col-xs-6
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/postCreate', style="font-size: 18px;") New Post
              if (user)
                li 
                  a(href='/newfeeds', style="font-size: 18px;") Newfeeds
                li
                  a(href='#')
                    i.fa.fa-bell(style="font-size: 20px;")
                li
                  a(href='/myPage' title="MyPage")
                    i.fa.fa-user(style="font-size: 20px;")
                li
                  a(href='/signout' title="Sign Out")
                    i.fa.fa-sign-out(style="font-size:20px;")
              else
                li
                  a(href='/signin' style="font-size: 18px;") Signin
                li
                  a(href="/register" style="font-size: 18px;") Register
    
    block body


    footer#footer.footer
      .container-fluid:.row
        .col-xs-3
        .col-xs-3
          ul.footer-menu
            li
              a(href="#") About Us
            li
              a(href="#") Blog
        .col-xs-3
          ul.footer-menu
            li
              a(href="#") Terms of Use
            li
              a(href="#") Privacy Policy
        .col-xs-3
          div
            p Copyright &copy; MoocsExpert 2016.
          div
            p All rights reserved.


    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src="js/layout.js")
    block js


